*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
body{
    height: 100%;
    left: 1;
    font-size: 24px;
    background-color: aliceblue;
}


.parent{
    border: 2px rgb(240, 179, 179);
    min-height: 100%;
   display: flex;
    flex-direction: column;

}

.mono{
    height:30px;
    width: 100%;
    background-color: rgb(31, 121, 50);
}
.blok1{

padding: 20px;
    
  height: 20%;
  width: 100%;
background-color: rgb(84, 228, 168);

}

.blok2{
    height: 50px;
    width: 100%;
    background-color: black;

}
nav{

    color: rgb(192, 181, 181);
    padding: 10px;
    display: inline-block;
    text-decoration: none;
    font-size: 14px

}

h1,h6,a{

    padding: 10px;
    margin: 18px;
    color: white;
}

.divfooter,h3{
    padding: 30px;
    color: rgb(27, 28, 29);
    height: 100px;
    width: 100%;
    background-color: rgb(156, 155, 155);
}
.blok3{
 
  display: flex;

}
.div1{
  
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: rgb(122, 150, 150);
}

.div2{
    
    width: 70%;
    padding: 30px;
    display: flex;
    flex-direction: column;

}
section{
    padding: 6px;
    padding-bottom: 20px;

}

.photo{
    background-color: rgb(210, 210, 210);
    height: 120px;
    padding: 50px;
}
.myphoto{
    padding: 25px;
    background-color: rgb(206, 204, 204);
    height: 20px;
    margin: 15px auto;
}
div{
    padding:10px ;
    
}
main{
    background-color: rgb(240, 240, 240);
}